ClienteCumsumoSOAP/src/META-INF/wsdl/localhost_8083/ServiciosClienteServidorSOAP/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8083/ServiciosClienteServidorSOAP/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="ProcesarPago">
<part name="parameters" element="tns:ProcesarPago"/>
</message>
<message name="ProcesarPagoResponse">
<part name="parameters" element="tns:ProcesarPagoResponse"/>
</message>
<message name="actualizarCuenta">
<part name="parameters" element="tns:actualizarCuenta"/>
</message>
<message name="actualizarCuentaResponse">
<part name="parameters" element="tns:actualizarCuentaResponse"/>
</message>
<message name="registrarse">
<part name="parameters" element="tns:registrarse"/>
</message>
<message name="registrarseResponse">
<part name="parameters" element="tns:registrarseResponse"/>
</message>
<message name="setearSaldo">
<part name="parameters" element="tns:setearSaldo"/>
</message>
<message name="setearSaldoResponse">
<part name="parameters" element="tns:setearSaldoResponse"/>
</message>
<portType name="Servicios">
<operation name="Login">
<input wsam:Action="http://sv/Servicios/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://sv/Servicios/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="ProcesarPago">
<input wsam:Action="http://sv/Servicios/ProcesarPagoRequest" message="tns:ProcesarPago"/>
<output wsam:Action="http://sv/Servicios/ProcesarPagoResponse" message="tns:ProcesarPagoResponse"/>
</operation>
<operation name="actualizarCuenta">
<input wsam:Action="http://sv/Servicios/actualizarCuentaRequest" message="tns:actualizarCuenta"/>
<output wsam:Action="http://sv/Servicios/actualizarCuentaResponse" message="tns:actualizarCuentaResponse"/>
</operation>
<operation name="registrarse">
<input wsam:Action="http://sv/Servicios/registrarseRequest" message="tns:registrarse"/>
<output wsam:Action="http://sv/Servicios/registrarseResponse" message="tns:registrarseResponse"/>
</operation>
<operation name="setearSaldo">
<input wsam:Action="http://sv/Servicios/setearSaldoRequest" message="tns:setearSaldo"/>
<output wsam:Action="http://sv/Servicios/setearSaldoResponse" message="tns:setearSaldoResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProcesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setearSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8083/ServiciosClienteServidorSOAP/Servicios"/>
</port>
</service>
</definitions>